<!DOCTYPE html>
<html>
    <head>
        <title>K2VarCat</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" id="meta-viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

        <!-- begin css  -->
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo_table.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
        <!-- end css -->

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    </head>

    <body>
        <div id="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <!-- begin scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- end scripts -->
    </body>
</html>
