{% extends "base.html" %}

{% block content %}
<noscript>
    <div id="noscript_note">You must have JavaScript enabled to view this page.</div>
</noscript>

<div class="page-header">
    <h1>K2VarCat: K2 Variable Star Catalogue</h1>
</div>

<div class="row-fluid">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-center">Catalogue v1 currently contains data from the K2 Campaign 0 mission only. Please see <a href='http://arxiv.org/abs/1411.6830'>this arxiv release</a> for more detail.
        The catalogue is also available as a <a href='K2VarCat.csv'>csv file</a>.</p>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <h4>Field descriptions</h4>
        <dl class="dl-horizontal">
            <dt>EPIC ID</dt>
            <dd>Epic catalogue identifier. Click on ID to get to the detail page.</dd>
            <dt>Type</dt>
            <dd>Classification, AP: Aperiodic (or period longer than 15d), QP: Quasiperiodic (period and/or amplitude changes), P: Strictly sinusoidal periodic.</dd>
            <dt>Range (%)</dt>
            <dd>Maximum to Minimum range of binned lightcurve. Percentage is relative to the median flux level.</dd>
            <dt>Period (d)</dt>
            <dd>Lomb-Scargle periodogram peak. Zero for Aperiodic systems.</dd>
            <dt>Amplitude (%)</dt>
            <dd>Semi-amplitude of lightcurve phase folded and binned at stated period. Percentage is relative to the median flux level. Zero for Aperiodic systems.</dd>
            <dt>Proposal Information</dt>
            <dd>If object is from a variable star related proposal: Proposal Number, and variable star type in brackets.</dd>
        </dl>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div id="demo">
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='scripts/tabletop.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tabletop-feed.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/data-tables-bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bootstrap-dropdown.js') }}"></script>
<script type="text/javascript">
    {% if app_root is none %}
        render_table(this, "");
    {% else %}
        render_table(this, "{{ app_root }}");
    {% endif %}
</script>

<!-- begin analytics -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20502211-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- end analytics -->
{% endblock %}
