{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Object: {{ kepler_object.epicid }}</h1>
    </div>

    <div class="row">
        <a href="{{ root }}">Home</a>
        <a href="{{ download_location }}" class="btn btn-primary" role="button">Download fits file</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Plots</h2>
        </div>
    </div>

    {{ kepler_object.lightcurves }}

    <div id="parameters" class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Parameters</h2>
            {{ kepler_object.parameters_table }}
        </div>
    </div>
</div>
{% endblock content %}
