{% extends "base.html" %}

{% block title %}Detail: {{ epicid }}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>Object: {{ epicid }}</h1>
</div>

<div class="row-fluid">
    <ul class="list-inline">
        <li>
            <a href="{{ url_for('download', epicid=epicid, campaign=campaign) }}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download fits file</a>
        </li>
        <li><a href="{{ stsci_url }}">STSCI</a></li>
        <li><a href="{{ url_for('index') }}">Back to the catalogue</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Plots</h2>
    </div>
</div>

{{ lightcurves|safe }}

<div id="parameters" class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Parameters</h2>
        {{ parameters_table|safe }}
    </div>
</div>
{% endblock content %}
